/* global stuff */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ffd28933;
}

#root {
  padding-bottom: 15px;
  height: 100vh;
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
  font-weight: 600;
}

/* navbar */
#root nav {
  padding: 10px;
  margin-bottom: 10px;
  color: #ff6600;
}

nav a {
  position: relative;
  letter-spacing: 0.1em;
  font-size: 1.3em;
}

nav a::after {
  content: "";
  position: absolute;
  background: #ff6600;
  bottom: -2px;
  left: 50%;
  width: 0;
  height: 2px;
  transition: width 0.3s ease, left 0.3s ease;
}

@media (hover) {
  nav a:hover::after {
    width: 100%;
    left: 0;
  }
}

/* Post list stuff */
.posts {
  display: flex;
  flex-direction: column;
  max-width: 700px;
  width: 100%;
  margin: 0 auto;
}

.posts a {
  color: #011627;
}

.posts .card {
  border-radius: 10px;
  margin: 8px 10px;
  padding: 10px;
  background-color: #ffe9c4;
  box-shadow: 5px 5px 8px #ddd;
}

.posts .card .card-header-source {
  font-size: 0.8em;
  color: #01162799;
}

.posts .card:first-child {
  margin-top: 0;
}

.posts .card:last-child {
  margin-bottom: 0;
}

.posts .card .card-header a:first-child {
  margin-right: 5px;
}

.posts .card .card-footer {
  display: flex;
  margin-left: 5px;
  font-size: 0.8em;
  align-items: center;
  flex-wrap: wrap;
  color: #01162799;
}

.posts .card .card-footer p {
  margin-right: 5px;
}

.posts .card .card-footer a {
  color: #01162799;
}

@media (hover) {
  .posts .card .card-footer a:hover {
    color: #011627;
  }

  .posts .card .card-footer u:hover {
    color: #011627;
    cursor: pointer;
  }
}

/* post page stuff */

.post-page {
  max-width: 720px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}

.post-page > h3 {
  display: inline-block;
  margin: 0 10px 0 0;
  color: #011627;
}

.post-page > a {
  font-size: 0.8em;
  color: #01162799;
}

.post-page > p {
  font-size: 0.8em;
  margin: 5px 0 20px 10px;
  color: #01162799;
}

@media (hover) {
  .post-page > p > u:hover {
    cursor: pointer;
    color: #011627;
  }
}

.post-page > textarea {
  resize: vertical;
  width: 100%;
}

/* post page comments stuff */

.comment > h4 {
  display: inline-block;
  margin-right: 5px;
  font-size: 0.85em;
  font-weight: 400;
  margin-bottom: 0;
}

.comment > span {
  font-size: 0.9em;
  cursor: pointer;
  user-select: none;
}

.comment .hidden {
  display: none;
}

.comment .indent {
  border-left: 1px solid black;
  padding-left: 20px;
}

